* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
 .comentario{
    border-style: solid;
    border-width: 5px;
 }
.body{
  background: url("../img/fondo.jp.jpg");
}